<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dzmitry Pashkevich</title>
  <link rel="stylesheet" href="static/css/styles.css">
  <link rel="shortcut icon" href="static/image/favicon-16x16.png" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap"
    rel="stylesheet">
</head>

<body>
  <div class="top-container">
    <img class="top-cloud" src="static/image/cloud.png" alt="top cloud">
    <h1>I'm Dzmitry</h1>
    <h2><em>Head of IT at Energosbyt RUP Vitebskenergo</em></h2>
    <img class="bottom-cloud" src="static/image/cloud.png" alt="bottom cloud">
    <img src="static/image/mountain.png" alt="mountain img">
  </div>

  <div class="middle-container">
    <div class="profile-row">
      <img class="my-photo" src="static/image/My photo.jpg" alt="Dzmitry Pashkevich picture">
      <h2>Hello.</h2>
      <p class="intro">I am a Head of IT and a Software Developer.</p>
    </div>
    <hr>
    <div class="skills">
      <h2>My Skills.</h2>
      <div class="skill-row">
        <img class="skill-img" src="https://cdn-icons-png.flaticon.com/512/4359/4359784.png"
          alt="Software developing image">
        <h3>Software development</h3>
        <p>Design, development and implementation of software.</p>
      </div>
      <div class="skill-row">
        <img class="studying-img" src="https://cdn-icons-png.flaticon.com/512/4681/4681565.png" alt="Studying image">
        <h3>Studying</h3>
        <p>But my main skill is studying. Science, tech, politics, economics etc. </p>
      </div>
    </div>
    <hr>
    <div class="contact-me">
      <h2>Get In Touch</h2>
      <h3>If you are intrested in studying and development.</h3>
      <p class="contact-message">Let's talk about ...</p>
      <a class="contact-btn" href="mailto:mitya.p.76@gmail.com">CONTACT ME</a>
    </div>
  </div>


  <div class="bottom-container">
    <a class="footer-link" href="https://www.linkedin.com/in/d-pash/">LinkedIn</a>
    <a class="footer-link" href="https://twitter.com/Dzmitry_76">Twitter</a>
    <a class="footer-link" href="https://www.appbrewery.co/">Website</a>
    <p class="footer-copyright">© 2023 Dzmitry Pashkevich.</p>
  </div>
</body>

</html>